body {
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: #0066ff;
    height: 3.5%;
    min-width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    vertical-align: middle;
}

.NavKumpulKuy {
    margin: 0%;
    height: 100%;
    min-width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.Content {
    display: grid;
    height: auto;
    grid-template-columns: 20% 60% 20%;
}

.UserList {
    width: auto;
    height: auto;
    padding: 45% 20%;
    /* background-color: pink; */
}

.UserListComponent {
    border: 1px solid black;
    border-radius: 5%;
    background-color: lightgrey;
    width: auto;
    height: auto;
    padding: 12%;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.PersonInThisMeeting {
    text-align: center;
    font-size: 20px;
    margin: -5% 0% 0% 0%;
    vertical-align: middle;
}

div.User1 {
    border-radius: 5%;
    background-color: grey;
    width: 100%;
    margin: 4% 0% 4% 0%;
    padding: 3%;
    vertical-align: middle;
    display: inline-block;
}

span.User1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.UserLogo1 {
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: -13% 2% 0% 0%;
}

p.User1 {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0% 12% 0%;
}

.UserSelectAll {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    margin: -14% 0% 0% 0%;
}

div.User2 {
    border-radius: 5%;
    width: 100%;
    margin: 4% 0% 4% 0%;
    padding: 3%;
    vertical-align: middle;
    display: inline-block;
}

span.User2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.UserLogo2 {
    width: 25px;
    height: 25px;
    border: 2px solid blue;
    border-radius: 50%;
    display: inline-block;
    margin: -13% 2% 0% 0%;
}

p.User2 {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0% 11% 0%;
}

div.User34 {
    border-radius: 5%;
    width: 100%;
    margin: 4% 0% 4% 0%;
    padding: 3%;
    vertical-align: middle;
    display: inline-block;
}

span.User34 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.UserLogo3 {
    width: 25px;
    height: 25px;
    border: 2px solid green;
    border-radius: 50%;
    display: inline-block;
    margin: -13% 2% 0% 0%;
}

.UserLogo4 {
    width: 25px;
    height: 25px;
    border: 2px solid gold;
    border-radius: 50%;
    display: inline-block;
    margin: -13% 2% 0% 0%;
}

p.User34 {
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0% 11% 0%;
}

.CalendarSchedule {
    width: auto;
    height: auto;
    padding: 0% 5%;
    text-align: center;
    align-content: center;
}

.BulanTahun {
    width: 100%;
    height: auto;
    margin: 3.5% 0%;
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-content: center;
    vertical-align: center;
    text-align: center;
}

.Arrow {
    font-size: 100px;
    margin: -25%;
}

.NamaBulanTahun {
    display: grid;
    grid-template-rows: 60% auto;
    text-align: center;
    vertical-align: middle;
}

.Bulan {
    font-size: 50px;
}

.Tahun {
    font-size: 30px;
}

.TanggalEach {
    padding: 0% 5%;
    margin: -3% 0% 0% 0%;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px 130px 130px;
    grid-template-rows: 100px 130px 130px 130px 130px 130px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.HariBiasa {
    height: 90%;
    widtH: 90%;
    margin: 5%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

.HariIni {
    height: 90%;
    width: 90%;
    margin: 5%;
    align-items: center;
    background-color: lightblue;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

.HariJadwal {
    height: 90%;
    width: 90%;
    margin: 5%;
    align-items: center;
    background-color: cyan;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

.TanggalBulanLain {
    color: grey;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.TanggalJadwal {
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
}

.MeetingInformation {
    width: auto;
    height: auto;
    /* background-color: mediumaquamarine; */
    padding: 45% 15%;
}

.MeetingInformationComponent {
    border: 1px solid black;
    border-radius: 5%;
    background-color: lightgrey;
    height: auto;
    padding: 12%;
    display: grid;
    grid-template-rows: 100px 100px 100px auto;
}

.MeetingInformationComponent {
    font-size: 12px;
}

.Deadline {
    font-size: 16px;
    text-align: center;
    color: red;
}